@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', sans-serif;
  }
  
  .shadow__btn {
    padding: 10px 50px;
    border: none;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: #3699FF;
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
    box-shadow: 
                0 0 100px rgb(0,140,255);
  }

  /* Define custom shadow classes */
.shadow-custom {
  color: #3699FF;
}

.shadow-custom:hover {
  box-shadow: 0 0 25px rgb(0,140,255);
}

